* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #7307bb;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.footer p {
    margin: 0;
}

.social-links {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 15px;
}

.social-links li {
    display: inline;
}

.social-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #39035d;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        margin-top: 10px;
    }
}
