/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7307bb;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    font-family: 'Playfair Display', serif;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px; 
}

.navbar-logo {
    height: 100px; 
    width: auto;
}

.navbar-brand {
    flex: 1; 
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: #39035d;
    border-radius: 4px;
}

.cart-container {
    display: flex;
    align-items: center;
}

.cart-icon {
    height: 34px;
    width: auto;
    cursor: pointer;
    margin-left: 1250px; 
}

/* Ocultando o menu hambúrguer no desktop */
.navbar-toggler {
    display: none;
}

/* Menu hambúrguer para dispositivos móveis */
@media (max-width: 768px) {
    header {
        padding: 10px;
        height: auto;
        justify-content: space-between;
    }

    .navbar {
        flex-direction: row; /* Alinha o menu na horizontal */
        justify-content: space-between; /* Espaço entre o hambúrguer e o menu */
        align-items: center;
        padding: 0 10px;
    }

    .navbar-brand {
        text-align: center; /* Centraliza o texto */
    }

    .navbar-menu {
        display: none; /* O menu estará oculto até que seja ativado */
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: #7307bb;
        padding: 10px 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        text-align: center;
        width: 100%;
    }

    .navbar-toggler {
        display: block;
        background-color: #7307bb;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
    }

    .cart-container {
        margin-top: 0;
        width: 100%;
        justify-content: flex-end;
    }

    .cart-icon {
        margin-left: 0;
    }
}
