
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.mute-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--font-color2);
  color: var(--font-color4);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  padding: 10px;
  font-family: 'Playfair Display', serif;
}

.hero-text:hover {
  color: var(--font-color1);
  border-color: var(--font-color2);
  box-shadow: 0 0 10px var(--font-color2);
}

.home {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.home-container {
  width: 100%;
  max-width: 1200px;
}

.section {
  margin-bottom: 40px;
  border: 1px solid var(--font-color1);
  border-radius: 5px;
  overflow: hidden;
}

.section-title {
  font-size: 2.5rem;
  padding: 15px 20px;
  text-align: center;
  color: var(--font-color2);
  cursor: pointer;
  background-color: var(--font-color1);
  border: none;
  transition: background-color 0.3s ease;
  width: 100%;
  position: relative;
}

.section-title.active {
  background-color: var(--font-color1);
}

.arrow {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:first-of-type {
  left: 10px;
}

.arrow:last-of-type {
  right: 10px;
}

.section-content {
  display: none;
  padding: 10px 20px;
}

.section-content.show {
  display: block;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; 
  }
}


