.sobrenos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  background-color: var(--font-color1);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--font-color2);
  margin: 40px 0;
  width: 100%;
  font-family: 'Playfair Display', serif;
  gap: 40px; 
}

.sobrenos-text-container {
  flex: 2;
  background-color: var(--font-color4);
  color: var(--font-color2);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px var(--font-color2);
  max-width: 60%;
}

.sobrenos-title {
  font-size: 2.5rem;
  color: var(--font-color1);
  margin-bottom: 40px;
}

.sobrenos-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.sobrenos-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
  align-items: center;
  max-width: 100%; 
}

.sobrenos-image {
  width: 250px;
  height: 280px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
  background-color: var(--font-color1);
  box-shadow: 0 4px 8px var(--font-color2);
  transition: transform 0.7s;
}

.sobrenos-image:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .sobrenos-container {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Ajusta o espaço entre o texto e as imagens em telas menores */
  }

  .sobrenos-text-container {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .sobrenos-images {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adiciona espaço entre as imagens em telas menores */
  }

  .sobrenos-image {
    width: 100%;
    max-width: 300px;
  }
}
