
.sobrenos-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding: 40px;
  background-color: var(--primary-bg-color, #6A0DAD); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px 0; 
}

.sobrenos-content {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; 
  flex-wrap: wrap; 
}
.sobrenos-text-container {
  margin-right: 30px;
  flex: 2;
  background-color: var(--secondary-bg-color, #FFFFFF); 
  color: var(--text-color, #333333); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 60%;
  flex-basis: 60%; 
}

.sobrenos-title {
  font-size: 2.5rem;
  color: var(--primary-bg-color, #6A0DAD); 
  margin-bottom: 20px;
}

.sobrenos-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.sobrenos-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: var(--primary-bg-color, #6A0DAD); 
  color: var(--secondary-color, #FFFFFF); 
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobrenos-button:hover {
  background-color: #4a008e; 
  transform: scale(1.05);
}

.sobrenos-images {
  margin-top: 3%;
  flex: 1;
  display: flex;
  flex-direction: row; 
  gap: 20px;
  justify-content: center;
  align-items: center; 
}

.sobrenos-image {
  width: 250px;
  height: 280px;
  aspect-ratio: 4 / 3; 
  object-fit: cover; 
  border-radius: 10px;
  background-color: #FFFFFF; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobrenos-image:hover {
  transform: scale(1.2); 
  transition: transform 0.7s; 
}

.sobrenos-margin-top {
  margin-top: 80px; 
}


@media (max-width: 768px) {
  .sobrenos-text-container {
    max-width: 100%;
    flex-basis: 100%;
  }
  
  .sobrenos-images {
    flex-basis: 100%;
  }
  
  .sobrenos-content {
    flex-direction: column;
    align-items: center;
  }
}
